.no-scroll {
  --overflow: hidden;
}

.center-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .center-text {
    font-size: 16em;
  }
}

@media (orientation: landscape) {
  .center-text {
    font-size: 9em;
  }
}